.find-components {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
}

.find-components__column div {
  font-family: sans-serif;
  margin-top: 20px;
  line-height: 20px;
}

.find-components__center {
  display: flex;
  margin: 10px 20px 0px 20px;
  justify-content: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 150px;
}
.find-components__column:last-child {
  position: relative;
}
.nav__dot2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 33px;
}
